@media (min-width: 1200px) {
  .hero-h1 {
    font-size: 55px;
    width: 100%;
    height: 100%;
  }

  .hero-p {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 100%;
  }

  .hero-image-col {
    width: 35%;
    margin-left: 150px;
    margin-top: 50px;
  }

  .hero-text-col {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    margin-top: 120px;
  }

  .search-form-container {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 50px;
    width: 30cm;
    height: 2.5cm;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 0.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 -10px 50px rgba(0, 0, 0, 0.12);
  }
  .search-form {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }

  .search-input {
    width: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    border-color: #ffffff;
  }

  .search-choice-container {
    flex-direction: row;
  }

  .search-choice-item:first-child {
    font-size: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    --bs-list-group-active-bg: rgb(111, 111, 111);
    border-color: #ffffff;
  }

  .search-choice-item:last-child {
    font-size: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    margin-right: -1px;
    --bs-list-group-active-bg: rgb(111, 111, 111);
    border-color: #ffffff;
  }

  .search-btn {
    border-radius: 50px;
    background-color: #4ac0d5;
    --bs-btn-hover-bg: #58b1c1;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #58b1c1;
    color: #ffffff;
    border-color: #4ac0d5;
  }
}

@media (min-width: 1400px) {
  .hero-h1 {
    font-size: 62px;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1500px) {
  .hero-h1 {
    font-size: 70px;
    width: 100%;
    height: 100%;
  }
}
